@font-face {
	font-family: "pokeGb";
	src: url("../fonts/customfont.ttf") format("truetype");
}

@font-face {
	font-family: "pokeDs";
	src: url("../fonts/pokemon-ds-font.ttf") format("truetype");
}

* {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-family: "pokeDs";
}

body {
	margin: 0;
	padding: 0;
  background-color: #252c30;
}



#editor-div {
	/* position: absolute; */
	background-color: #263238;
	color: snow;
	/* top: 0;
	left: 0;
	z-index: 10; */
	width: 30vw;

}

#editor-div-header {
	padding: 5px;
	font-size: 1.4rem;
	cursor: default;
}

#editor-div > section {
	display: flex;
	flex-direction: column;
	height: 65vh;
}

.CodeMirror {
	height: 100%;
  font-size: 28px;
}

#editor-div img {
	width: 3rem;
	/* margin-right: 5px; */
}
#editor-div p {
	padding: 10px;
	display: flex;
	justify-content: center;
	font-size: 1.4rem;
}

main {
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 100vh;
	width: 100vw;
}

#game-div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 66%;
	height: 90%;
}

#game-div #creator {
	display: flex;
    align-items: center;
	padding: 10px;
}

#game-div span {
	font-size: 3.5rem;
	color: snow;
	padding: 10px;
}

#game-div input{
	width: 50px;
	font-size: 3.5rem;
	text-align: end;
}

#game-div button {
	font-size: 2rem;
    background-color: unset;
    border: none;
    color: snow;
	padding: 10px;
}

#cont {
	background-color: #252c30;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
}

div.error {
	color: red!important;
}

pre.error {
	background-color: #ff000042!important;
}

.col {
	display: flex;
	width: 100%;
	margin: 2px;
	background-color: #0d161b52;
}

.row {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	margin: 2px;
}

#right-bar {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#temp-color {
	height: 16vh;
    width: 16vh;
    margin: 2vh;
    /* background-color: black; */
}

/* Tooltip container */
.error {
	position: relative;
	/* display: inline-block; */
	/* border-bottom: 1px dotted black; If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .error .tooltip-text {
	visibility: hidden;
    width: 90%;
    background-color: #ff000042!important;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 2px;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 5%;
    border: 1px solid black;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .error:hover .tooltip-text {
	visibility: visible;
  }
  div#right-bar .cm-operator {color: #d81805;}
div#right-bar .cm-keyword {color: #d81805;}
div#right-bar .cm-variable {color: #ff9e5b;}
div#right-bar .cm-string {color: #719e4d;}
div#right-bar .cm-number {color: #b1bfea;}
div#right-bar .cm-property {color: #af61e0;}
div#right-bar .cm-def {color: #82aaff;}

#under-editor {
	display: flex;
	align-items: center;
	width: 30vw;
}

#under-editor #suggestions {
	width: 50%;
    background-color: #263238;
    height: 16vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	font-size: 1.2rem;
	color: snow;
}

#under-editor #suggestions .row {
	flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}


